body{

  margin: auto;

}
main{
  padding-top: 50px;
  margin-bottom: 150px;
  position: relative;

}

.donatori {
  background-color: greenyellow;
  color: black;
}

.non-donatori{
  border: red;
}
.blur-main {
  filter: blur(5px);
}

button{
  width: 60px;
}
.sticky-div {
  position: sticky;
  top: 60px;
  z-index: 100;
}

