body{

  margin: auto;

}
main{
  padding-top: 50px;
  margin-bottom: 150px;
  position: relative;

}

.donatori {
  background-color: greenyellow;
  color: black;
}



.donazione {
  border: 2px solid green;
}

.blur-main {
  filter: blur(5px);
}


.sticky-div {
  position: sticky;
  top: 60px;
  z-index: 100;
}

