<body>
  <main>
    <div class="container">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center mt-2 mb-2">
          <!--TABELLA TAVOLE-->
     <div id="tavole-leonardo" class="d-flex justify-content-center w-25">
      <div class="border rounded p-3 shadow-lg">

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
            <th scope="col">Titolo</th>
            <th scope="col">Anno</th>
            <th scope="col">Link</th>
            <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let tavola of tavole; let i = index">
                <th scope="row">{{ i + 1 + (currentPageTavole - 1) * pageSizeTavole }}</th>
                <td style="cursor: pointer;">{{tavola.titolo}}</td>
                <td style="cursor: pointer;">{{tavola.anno}}</td>
                <td style="cursor: pointer;">{{tavola.url}}</td>
                <td style="cursor: pointer;"><div class="d-flex justify-content-between"><i class="bi bi-pencil me-2" title="Modifica"></i><div class="me-2" title="Elimina">❌</div></div></td>
              </tr>
            </tbody>
          </table>

    <div class="d-flex justify-content-center">
       <div>
              <div class="paginazione">
                <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" style="cursor: pointer;" (click)="previousPageTavole()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let pageNumber of totalPagesArrayTavole">
                  <a class="page-link" style="cursor: pointer;" (click)="setPageTavole(pageNumber)">{{ pageNumber }}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" style="cursor: pointer;" (click)="nextPageTavole()" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
              </div>
              <div class="d-flex justify-content-center">
                 <div class="d-flex justify-content-between">
                <div id="checkSizeTavole">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pageSizeRadio1Tavole" id="pageSizeRadio1Tavole" value="5" (change)="setPageSizeTavole(5)" [checked]="pageSizeTavole === 5">
                    <label class="form-check-label" for="pageSizeRadio1Tavole">5</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pageSizeRadio2Tavole" id="pageSizeRadio2Tavole" value="10" (change)="setPageSizeTavole(10)" [checked]="pageSizeTavole === 10">
                    <label class="form-check-label" for="pageSizeRadio2Tavole">10</label>
                  </div>
                </div>
              </div>



              </div>

          </div>
    </div>


            </div>
          </div>
    </div>
        </div>

<div class="d-flex justify-content-center mt-2 mb-2">
  <div  style="background-color:brown; height: 400px;">
<p>ALTRE STATISTICHE</p>
</div>
</div>



<div id="utenti" class="d-flex justify-content-center">
  <div class="border rounded p-3 shadow-lg">
    <div class="d-flex justify-content-end">
      <div id="checkDonatori" class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="donatoriCheckbox"
          [(ngModel)]="isDonatoriSelected"
          (ngModelChange)="toggleDonatoriSelection()"
        />
        <label class="form-check-label" for="donatoriCheckbox">Donatori</label>
      </div>
    </div>
    <!--TABELLA PER TUTTI I DONATORI-->
  <div *ngIf="isDonatoriSelected">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cognome</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donatore of donatori; let i = index">
          <th scope="row">{{ i + 1 + (currentPageD - 1) * pageSizeD }}</th>
          <td (click)="apriModaleDonatore(donatore)" style="cursor: pointer;">{{ donatore.nome }}</td>
          <td (click)="apriModaleDonatore(donatore)" style="cursor: pointer;">{{ donatore.cognome }}</td>
          <td (click)="apriModaleDonatore(donatore)" style="cursor: pointer;">{{ donatore.email }}</td>
          <td>
            <div class="d-flex justify-content-between">
              <div><i class="bi bi-pencil" style="cursor: pointer;" (click)="apriModaleModificaUtente(donatore)" data-toggle="modal" data-target="#modificaUtenteModale" title="Modifica"></i></div>
              <div (click)="apriModaleEliminaUtente(donatore)" style="cursor: pointer;" title="Elimina">❌</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>


 <div class="d-flex justify-content-center">
  <div >
    <div class="paginazione">
          <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="previousPageD()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let pageNumberD of totalPagesArrayD">
            <a class="page-link" (click)="setPageD(pageNumberD)">{{ pageNumberD }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="nextPageD()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
        </div>
        <div class="d-flex justify-content-center">
          <div class="d-flex justify-content-between">
          <div id="checkSize">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="pageSizeRadioD1" id="pageSizeRadioD1" value="5" (change)="setPageSizeD(5)" [checked]="pageSizeD === 5">
              <label class="form-check-label" for="pageSizeRadioD1">5</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="pageSizeRadioD2" id="pageSizeRadioD2" value="10" (change)="setPageSizeD(10)" [checked]="pageSizeD === 10">
              <label class="form-check-label" for="pageSizeRadioD2">10</label>
            </div>
          </div>
        </div>



        </div></div>


    </div>
      </div>
      <!--TABELLA PER TUTTI GLI UTENTI-->
     <div *ngIf="!isDonatoriSelected">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let utente of utenti; let i = index">
            <th scope="row">{{ i + 1 + (currentPage - 1) * pageSize }}</th>
            <td (click)="apriModaleDonatore(utente)" style="cursor: pointer;">{{ utente.nome }}</td>
            <td (click)="apriModaleDonatore(utente)" style="cursor: pointer;">{{ utente.cognome }}</td>
            <td (click)="apriModaleDonatore(utente)" style="cursor: pointer;">{{ utente.email }}</td>
            <td>
              <div class="d-flex justify-content-between">
                <div><i class="bi bi-pencil" style="cursor: pointer;" (click)="apriModaleModificaUtente(utente)" data-toggle="modal" data-target="#modificaUtenteModale" title="Modifica"></i></div>
                <div (click)="apriModaleEliminaUtente(utente)" style="cursor: pointer;" title="Elimina">❌</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

<div class="d-flex justify-content-center">
   <div>
          <div class="paginazione">
            <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="previousPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let pageNumber of totalPagesArray">
              <a class="page-link" (click)="setPage(pageNumber)">{{ pageNumber }}</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="nextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
          </div>
          <div class="d-flex justify-content-center">
             <div class="d-flex justify-content-between">
            <div id="checkSize">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pageSizeRadio1" id="pageSizeRadio1" value="5" (change)="setPageSize(5)" [checked]="pageSize === 5">
                <label class="form-check-label" for="pageSizeRadio1">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pageSizeRadio2" id="pageSizeRadio2" value="10" (change)="setPageSize(10)" [checked]="pageSize === 10">
                <label class="form-check-label" for="pageSizeRadio2">10</label>
              </div>
            </div>
          </div>



          </div>

      </div>
</div>


        </div>
      </div>
</div>



</div>





    <!-- MODALE DONATORE/UTENTE-->
    <div class="modal fade" id="modaleDonatore" tabindex="-1" role="dialog" aria-labelledby="trailerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="!errore" class="modal-title">Donazioni di {{ utente.nome }} {{utente.cognome}}</h5>
          <h5 *ngIf="errore" class="modal-title alert alert-danger">{{errore}}</h5>
          <a type="button" class="btn btn-primary rounded-circle mb-3" (click)="chiudiModaleDonatore()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </a>
      </div>
      <div class="modal-body">

        <ul>
            <li *ngFor="let donazione of donazioniDonatore">
                {{ donazione.importo }} € eseguita il giorno {{ donazione.data }}
            </li>
        </ul>
    </div>
      </div>
    </div>
  </div>




    <!-- MODALE ELIMINAZIONE DONATORE/UTENTE-->

  <div class="modal" id="modaleDeleteUtente" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="!isUtenteEliminato||!isErroreUguale" class="modal-title alert alert-danger">Desideri eliminare l'utente {{utente.nome}} {{utente.cognome}}?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="chiudiModaleEliminaUtenti()"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="errore" class="alert alert-danger">
            <ul>
              <li>{{ errore }}</li>
            </ul>
          </div>
        </div>
        <div>
          <div *ngIf="!isUtenteEliminato">
            <div *ngIf="!isErroreUguale">
            <div class="modal-footer d-flex justify-content-between" >
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteUtente(utente)">SI</button>
          <button type="button" class="btn btn-primary" (click)="chiudiModaleEliminaUtenti()">NO</button>
        </div>
          </div>
<div *ngIf="isErroreUguale">
          <div class="modal-footer d-flex justify-content-between" >
         <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteUtenteAndDonazioni(utente)">SI</button>
         <button type="button" class="btn btn-primary" (click)="deleteJustUtente(utente)">NO</button>
       </div>
       </div>
        </div>

          </div>


      </div>
    </div>
  </div>

<!-- MODALE MODIFICA UTENTE-->
  <div class="modal" id="modaleModificaUtente" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div *ngIf="!isUtenteModificato" class="modal-header">
          <h5 class="modal-title">Modifica l'utente {{utente.nome}} {{utente.cognome}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="chiudiModaleModificaUtente()"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="!isUtenteModificato">
             <form #form="ngForm" (ngSubmit)="modificaUtente(form)">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" [(ngModel)]="utente.nome" name="nome" ngModel>
            </div>
            <div class="form-group">
              <label for="cognome">Cognome</label>
              <input type="text" class="form-control" id="cognome" [(ngModel)]="utente.cognome" name="cognome" ngModel>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="utente.email" name="email" ngModel>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="ruolo">Ruolo</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="ruolo" id="USER" [(ngModel)]="isUtenteUser" [value]="true">
                  <label class="form-check-label" for="USER">User</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="ruolo" id="ADMIN" [(ngModel)]="isUtenteUser" [value]="false">
                  <label class="form-check-label" for="ADMIN">Admin</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
          </form>
          </div>
<div class="modal-body" *ngIf="isUtenteModificato">
  <h5 class="modal-title alert alert-success">Utente modificato con successo!</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="chiudiModaleModificaUtente()"></button>

</div>

        </div>

      </div>
    </div>
  </div>

  </main>

</body>
