<body>

  <main [class.blur-main]="modalIsOpen">
    <div class="d-flex justify-content-around">
      <section style="position: absolute;" class="d-flex justify-content-between flex-wrap container">
      <div *ngFor="let tavola of tavole; let i = index">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center mt-5">
              <div class="card m-auto" style="width: 20rem; cursor: pointer;">
                <div class="pseudo1"></div>
                <div class=""></div>
                 <div class=""></div>
                 <div class="card-head" style="background-image: url('{{tavola.url}}');" ></div>
                 <div class="shadow-top"></div>
                    <div class="card-body">
                      <h5 class="card-title">{{tavola.titolo}}</h5>
                     <a class="btn btn-warning" (click)="apriModaleOsservaTavola(tavola)">Clicca</a>
                    </div>
                  </div>
              </div>
            </div>
        </div>

      </div>
    </section>
    </div>
<!---->
  <section class="d-flex flex-column justify-content-between parallax-section" id="eyes" style="height: 2300px;">
      <div class="my-div" data-speed="0.6" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-21+235243.png');"></div>
      <div class="my-div" data-speed="0.6" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-22+004019.png');"></div>
      <div class="my-div" data-speed="0.6" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-22+003909.png');"></div>
      <div class="my-div" data-speed="0.6" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-22+003947.png');"></div>
      <div class="my-div" data-speed="0.6" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-21+235512.png');"></div>
      <div class="my-div" data-speed="0.6" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-21+235134.png');"></div>
      <div class="my-div" data-speed="0.6" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-22+001529.png');"></div>
      <div class="my-div" data-speed="0.6" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-21+235214.png');"></div>


    </section>

  </main>

  <!-- MODALE OSSERVAZIONE TAVOLA-->
  <div class="modal" tabindex="-1" id="tavola-eye">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-body p-0" style="overflow: hidden;">
          <img [src]="tavola.url" width="500px" alt="">
        </div>
        <div class="modal-header">
          <h5 class="modal-title">{{tavola.titolo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="chiudiModaleOsservaTavola()"></button>
        </div>
        <div class="modal-body">
          <p><i>{{tavola.anno}}</i></p>
          <p>{{tavola.descrizione}}</p>
        </div>

      </div>
    </div>
  </div>




</body>
