<body>

  <main [class.blur-main]="modalIsOpen">
    <section class="d-flex justify-content-between flex-wrap container">
      <div *ngFor="let tavola of tavole; let i = index">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center mt-5">
              <div class="card m-auto" style="width: 20rem; cursor: pointer;">
                <div class="pseudo1"></div>
                <div class=""></div>
                 <div class=""></div>
                 <div class="card-head" style="background-image: url('{{tavola.url}}');" ></div>
                 <div class="shadow-top"></div>
                    <div class="card-body">
                      <h5 class="card-title">{{tavola.titolo}}</h5>
                     <a class="btn btn-warning" (click)="apriModaleOsservaTavola(tavola)">Clicca</a>
                    </div>
                  </div>
              </div>
            </div>
        </div>

      </div>
    </section>
  </main>

  <!-- MODALE OSSERVAZIONE TAVOLA-->
  <div class="modal" tabindex="-1" id="tavola-eye">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-body p-0" style="overflow: hidden;">
          <img [src]="tavola.url" width="500px" alt="">
        </div>
        <div class="modal-header">
          <h5 class="modal-title">{{tavola.titolo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="chiudiModaleOsservaTavola()"></button>
        </div>
        <div class="modal-body">
          <p>{{tavola.descrizione}}</p>
        </div>

      </div>
    </div>
  </div>




</body>
