body{
  background-color: #EDEBE4;
  padding-top: 100px;
}
.blur-main {
  filter: blur(10px);
}

.card {
  position: relative;
  height: 440px;
  box-shadow: 0px 0px 20px 1px #000c;
  overflow: hidden;
  border: 0px solid #000c;
}
.card:hover .card-body {
  position: absolute;
  z-index: 10;
  bottom: 10px;
}
.card-head {
  height: 450px;
  margin: 0px 0px;
  border: 0px solid red;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.6s linear;
}
.card-body {
  display: none;
  color: #eee;
  transition: all 0.6s ease;
}

.card-body .btn-warning {
  position: absolute;
  bottom: -70px;
}
.card:hover .card-body .btn-warning {
  position: relative;
  bottom: 0px;
}

.card > div.pseudo1 {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  left: -330px;
  top: 0px;
  height: 33.5%;
  width: 100%;
  z-index: 20;
  transition: all 0.6s ease;
}
.card:hover > div.pseudo1 {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 33.5%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 20;
}

.card > div.pseudo2 {
  content: "";
  position: absolute;
  left: -330px;
  top: 33.4%;
  height: 33.6%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 20;
  transition: all 0.6s ease;
}
.card:hover > div.pseudo2 {
  content: "";
  position: absolute;
  left: 0px;
  top: 33.4%;
  height: 33.6%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 20;
}
.card > div.pseudo3 {
  content: "";
  position: absolute;
  left: -330px;
  top: 66%;
  height: 33.6%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 20;
  transition: all 0.6s ease;
}
.card:hover > div.pseudo3 {
  content: "";
  position: absolute;
  left: 0px;
  top: 67%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 20;
}

.card-body .btn-warning {
  position: absolute;
  bottom: 0px;
}
.card:hover .card-body .btn-warning {
  position: relative;
  bottom: 0px;
}

.card:hover .card-body,
.card:hover .card-text {
  opacity: 1;
  z-index: 30;
  display: block;
}

.card:hover .card-head {
  margin: 0;
  border: none;
  background-position-y: bottom;
  background-repeat: no-repeat;
  transform: scale(1.5);
}


