
<main class="d-flex justify-content-center align-items-center">
    <div class="travolta d-flex flex-column justify-content-center align-items-center" style="position: relative; width: 250px; height: 400px;">

      <div class="d-flex flex-column justify-content-center" style="position: absolute; bottom: -35px;">
         <h1>404</h1>
        <p class="text-center">There's nothing here.</p>
        <button type="button" class="btn btn-light"><a href="#">Back</a></button>
      </div>

    </div>
</main>

