
main{
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.travolta {

background: linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url("https://media.tenor.com/-6apUW9Kqj4AAAAM/monalisa.gif") center center no-repeat;
background-size: contain;
padding: 20px;

}

h1 {
  font-size: 775%;
  padding-top: 25vh;
  margin-bottom: 1vh;
  z-index: 2;
  color: white;
}

p {
  text-decoration: none;
  color: white;
  z-index: 2;
  font-size: 125%;

}
a{
  color: black;
}
a:hover {
  text-decoration: underline;
}
