<body>

  <main [class.blur-main]="isModaleOpen">
    <h1 class="text-center" style="color: white;">Accedi</h1>
    <p class="text-center" style="color: white;">Inserisci le tue credenziali o <a class="nav-link" style="text-decoration: underline;" [routerLink]="['/registrazione']" routerLinkActive="active">registrati</a> se non hai ancora un account.</p>
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center justify-content-md-end align-items-center">
          <img src="https://davincibiotech.s3.eu-central-1.amazonaws.com/DVBT_protesi_valvole_cardiache.jpeg" width="300px" class="img-fluid">
        </div>
<div class="col-md-6 col-12">
  <div>
    <form #loginform="ngForm" (ngSubmit)="access(loginform)">
      <div class="form-group">
        <label for="email">Indirizzo e-mail</label>
        <input type="email" id="email" class="form-control" name="email" required ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" required ngModel>
      </div>
      <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary mb-3">Accedi</button>
      <div class="form-group text-center mb-3">
        <a href="javascript:void(0)" (click)="apriModaleRecuperaPassword()">Password dimenticata?</a>
    </div>
    <div *ngIf="isLoading" class="d-flex justify-content-center mb-3">

      <div class="spinner-grow text-warning spinner-grow-sm me-1" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div class="spinner-grow text-warning spinner-grow-sm me-1" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div class="spinner-grow text-warning spinner-grow-sm me-1" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
      <div *ngIf="erroreLogin" class="alert alert-danger">
        <ul>
          <li>{{ errore }}</li>
        </ul>
      </div>
    </form>
  </div>

</div>

      </div>
      </div>

  </main>
  <!-- recovery-password-modal.component.html -->
<div class="modal" id="recupero-password" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recupero Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="chiudiModaleRecuperaPassword()">
        </button>

      </div>
      <div class="modal-body">
        <p>Inserisci un indirizzo email valido e ti invieremo una nuova password.</p>
        <form id="recupero-password-form" #passwordForm="ngForm" (ngSubmit)="cambioPassword(passwordForm)">
          <div class="form-group">
            <label for="recoveryEmail">Email</label>
            <input type="email" id="recoveryEmail" class="form-control" name="recoveryEmail" [(ngModel)]="recuperoPasswordData.recoveryEmail" required >
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mb-3" [disabled]="passwordForm.invalid">Invia</button>
          </div>
          <h5 *ngIf="erroreRecuperoPassword" class="alert alert-danger">
           {{erroreRecuperoPassword}}
          </h5>
          <div *ngIf="messaggioOk">
            <h5 class="modal-title alert alert-success">{{messaggioOk}}</h5>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
