


<body id="body_noUser" *ngIf="!user">

    <main [class.blur-main]="isDonazione">
      <div class="container-fluid hero">
  <div class="hero_content container-fluid">
  <div class="donazione_section row">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-6 d-flex text-center flex-column justify-content-center align-items-center" style="position: relative; ">

      <div class="m-1 w-100 justify-content-around row" style="height: 500px;">
        <div class="col-3 img1" style="height: 100%;"></div>
        <div class="col-3 img2" style="height: 100%;"></div>
        <div class="col-3 img3" style="height: 100%;"></div>
        <div class="col-3 img4" style="height: 100%;"></div>

      </div>
      <div class="invito-donazione" style="position: absolute;
      top: 70px;">
        <p>Vuoi fare una Donazione?</p>
        <p><a href="/registrazione">Registrati</a></p>
        <p>oppure</p>
        <a href="/login">Accedi</a>
      </div>


      </div>
      <div class="col-lg-6 border-bottom contact-left">
        <div class="single-info">
          <h4>Preservare l'Opera di un Genio</h4>
          <p>
            Ogni donazione è un passo verso la preservazione dell'eredità straordinaria di Leonardo da Vinci. Contribuendo oggi, aiuti a proteggere queste opere uniche per le generazioni future e a sostenere la ricerca che avvicina la scienza e l'arte come mai prima d'ora.        </p>
        </div>
        <div class="single-info">
          <h4>Insieme Verso un Futuro Innovativo</h4>
          <p>
            La genialità di Leonardo ci ha lasciato un tesoro di conoscenze e ispirazione. Con la tua generosità, possiamo continuare a scoprire i segreti nascosti dietro le tavole di anatomia e a sviluppare soluzioni innovative nell'ingegneria biomedica. Ogni donazione ci avvicina alla realizzazione di questa visione straordinaria.        </p>
        </div>
        <div class="single-info">
          <h4>Arte, Scienza e il Tuo Contributo</h4>
          <p>
            Immagina un mondo in cui la bellezza dell'arte e il potere della scienza si uniscono per creare progressi incredibili. La tua donazione non solo preserverà l'opera senza tempo di Leonardo, ma anche sosterrà ricerche all'avanguardia che potrebbero cambiare il futuro della medicina e dell'ingegneria. Ogni contributo conta, unisciti a noi in questa straordinaria missione!        </p>
        </div>
      </div>

    </div>
  </div>
  </div>

    </div>
    </main>
</body>

<body *ngIf="user">
  <main>
    <div class="container-fluid hero">
<div class="hero_content container-fluid">
<div class="donazione_section row">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-8 border-bottom contact-left">
      <div class="single-info">
        <h4>Preservare l'Opera di un Genio</h4>
        <p>
          Ogni donazione è un passo verso la preservazione dell'eredità straordinaria di Leonardo da Vinci. Contribuendo oggi, aiuti a proteggere queste opere uniche per le generazioni future e a sostenere la ricerca che avvicina la scienza e l'arte come mai prima d'ora.        </p>
      </div>
      <div class="single-info">
        <h4>Insieme Verso un Futuro Innovativo</h4>
        <p>
          La genialità di Leonardo ci ha lasciato un tesoro di conoscenze e ispirazione. Con la tua generosità, possiamo continuare a scoprire i segreti nascosti dietro le tavole di anatomia e a sviluppare soluzioni innovative nell'ingegneria biomedica. Ogni donazione ci avvicina alla realizzazione di questa visione straordinaria.        </p>
      </div>
      <div class="single-info">
        <h4>Arte, Scienza e il Tuo Contributo</h4>
        <p>
          Immagina un mondo in cui la bellezza dell'arte e il potere della scienza si uniscono per creare progressi incredibili. La tua donazione non solo preserverà l'opera senza tempo di Leonardo, ma anche sosterrà ricerche all'avanguardia che potrebbero cambiare il futuro della medicina e dell'ingegneria. Ogni contributo conta, unisciti a noi in questa straordinaria missione!        </p>
      </div>
    </div>
    <div *ngIf="!isDonazione" class="col-lg-4 contact-right border ps-0 pe-0" style="background-color: #f9f9f9;">
      <div class="row">
 <div class="mb-4 p-4 col-8 dati-utente">
        <div class="mb-2">{{user.utente.nome}}</div>
        <div class="mb-2">{{user.utente.cognome}}</div>
        <div class="mb-2">{{user.utente.email}}</div>
      </div>
<div class="col-4">
  <div class="d-flex justify-content-center align-items-center">
<div class="m-1" style="width: 125px; height: 150px; background-size: cover; background-image: url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-20+222127.png');">

</div>
  </div>

</div>
      </div>


      <form *ngIf="!isDonazione" id="donation-form" #donationForm="ngForm" (ngSubmit)="creaDonazione(donationForm)">
        <div class="d-flex justify-content-center align-items-center mb-3">
<p style="color: black;">Scegli l'importo da donare</p>
        </div>
        <div class="form-group d-flex justify-content-around mb-5">
          <div><input type="radio" class="btn-check border" name="importo" id="option5" value=5  checked required ngModel>
            <label class="btn" for="option5">5 €</label></div>
          <div><input type="radio" class="btn-check border" name="importo" id="option6" value=10  required ngModel>
            <label class="btn" for="option6">10 €</label></div>
          <div><input type="radio" class="btn-check border" name="importo" id="option7" value=15  required ngModel>
            <label class="btn" for="option7">15 €</label></div>
        </div>

        <div class="d-flex align-items-end justify-content-center w-100">
          <button type="submit" class="btn btn-primary w-100" [disabled]="donationForm.invalid">Invia</button>
        </div>
      </form>

    </div>
  </div>
</div>
</div>

  </div>
  </main>
<!-- MODALE RINGRAZIAMENTO DONAZIONE-->
<div *ngIf="isDonazione" class="modal fade" id="thanks" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="chiudiModaleRingraziamnto()">
        </button>
      </div>
      <div class="modal-body">
        <p>Grazie per la tua donazione, {{user.utente.nome}}.</p>
        <p>Riceverai presto un' e-mail.</p>
      </div>

    </div>
  </div>
</div>
</body>
