body{
  background: linear-gradient(-180deg,rgba(0,0,0,0.3),rgba(0,0,0,0.95)), url("https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-11+233133.png");
    background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}
main{
  padding-top: 200px;
  padding-bottom: 200px;
}

h4 {
  color: #fff;
    font-size: 30px;
    font-weight: 700;
}
p{
  color: #bbb6b6;
}
button[type="submit"]{
  width: 100%;
  padding: 10px;
  background-color: #C1D82F;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #515a14;
}

button[type="submit"]:disabled {
  background-color: #C1D82F;
  cursor: not-allowed;
}
form {
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label{
  color: #bbb6b6;;
}
#donation-form{
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  border: none;
  box-shadow: none;
}
.dati-utente{
  color:#5b5858;
}
