<body>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-8  row">
      <div class="col-12 h-50" style="border: solid 1px black;">
          <h1 class="titolo h2" #titolo>Ogni nostra cognizione principia dal cuore...</h1>
<h5 class="sottoTitolo" #sottoTitolo>...trova il cuore, {{user?.utente?.nome}}</h5>
<div class="row">
  <div  class="no-play disabilita col-12 d-flex justify-content-center align-items-center" #noPlay></div>

</div>
<div class="carte d-flex justify-content-center align-items-center">
          <div class="scena">
            <div class="carta1" #carta1>
              <div class="carta-face carta-face--front1"></div>
              <div class="carta-face carta-face--back1"></div>
            </div>
            <div class="carta2" #carta2>
              <div class="carta-face carta-face--front2"></div>
              <div class="carta-face carta-face--back2"></div>
            </div>
            <div class="carta3" #carta3>
              <div class="carta-face carta-face--front3"></div>
              <div class="carta-face carta-face--back3"></div>
            </div>
            <div class="carta4" #carta4>
              <div class="carta-face carta-face--front4"></div>
              <div class="carta-face carta-face--back4"></div>
            </div>

          </div>


      </div>

      <div class="d-flex justify-content-center disabilitaButton" #disabilitaButton style="height: 20px;">
          <div class="button" #button>Play</div>

      </div>

        </div>

      <div class="col-12 h-50" style="border: solid 1px black;">

      </div>
      </div>
      <div class="col-lg-4 user-dati" style="background-color: blueviolet; opacity: 0.3; height: 100vh;"></div>


    </div>
  </div>
</main>
</body>


