
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
body{
  margin: auto;
  background-color: #EDEBE4;
  padding-top: 70px;
  padding-bottom: 70px;
  height: 2000px;
}


h1, h5{
text-align: center;
font-family: 'Inter', sans-serif;
}
h5{
  opacity: 0;
  transition: all .3s linear;
}
.gioconda{
  background-image: url('https://dcassetcdn.com/w1k/submissions/7610500/7610749_9196.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:-50px ;
}
.remoBlock{
  transition: all 600ms linear;
  scale:0;
  rotate: 180deg;
}

a{
  color: #000;
}
.disabilita{
  width: 50%;
  height: 341px;
  position: absolute;
  z-index: 999;
  color: #fff;
  font-size: 2rem;
  text-align: center;

}

.blur-main{
  filter: blur(2.5px);

}
.scena{
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 270px;
  margin: 40px 0;
  perspective: 600px;
}


.heart-container {
  position: relative;
  width: 100px;
  height: 160px;
  margin: 30vh auto;

  z-index: 1000;
}


.heart {
  animation: heartbeat 1s infinite alternate;
  opacity: 0;
  cursor: pointer;
}


@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.carta1,.carta2,.carta3,.carta4{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  transition: all 1s;
  margin: 0px 10px;
}
.carta-face{
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  filter: drop-shadow(2px 4px 6px black);
}



.button{
  position: absolute;
  color: black;
  background: white;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s linear;
  box-shadow: 0px 0px 9px #000;
}
.button:hover{
  color: #fff;
  background: #000;
  box-shadow: 0px 0px 9px 0px #fff;
}

.carta1.scopriCarta, .carta2.scopriCarta, .carta3.scopriCarta, .carta4.scopriCarta{
  transform: rotateY(-180deg);
}
.carta-face--front1, .carta-face--front2, .carta-face--front3, .carta-face--front4{
  background-image: url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-20+222127.png');
background-size: cover;
background-position: center -2px;
background-repeat: no-repeat;
border-radius: 20px
;
}

.carta-face--back1, .carta-face--back2, .carta-face--back3, .carta-face--back4{
  background-image: url('https://davincibiotech.s3.eu-central-1.amazonaws.com/DVBT_protesi_interna_ginocchio.jpeg');
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
transform: rotateY(180deg);
border-radius: 20px;
}

.carta-face--back2{
  background-image: url('https://davincibiotech.s3.eu-central-1.amazonaws.com/DVBT_protesi_dito_piede.jpeg');
}
.carta-face--back3{
  background-image: url('https://davincibiotech.s3.eu-central-1.amazonaws.com/DVBT_protesi_valvole_cardiache.jpeg');
}
.carta-face--back4{
  background-image: url('https://davincibiotech.s3.eu-central-1.amazonaws.com/DVBT_protesi_spalla.jpeg');
}

.opacity-on{
  opacity: 1!important;
}

.avvia1{
  animation: carta1 1.2s linear 2 reverse;
}

.avvia2{
  animation: carta2 0.8s linear 2 reverse;
}
.avvia3{
  animation: carta3 1.2s linear 2 reverse;
}
.avvia4{
  animation: carta4 0.7s linear 2 reverse;
}


.dati{
  width: 300px;
  height: 250px;
  top: 30px;
  right: 10px;
}

i:hover{
  animation: menu 1s linear infinite;
}
form {
  width: 100%;
  padding: 20px;
  border-radius: 5px;

}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;

}
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #C1D82F;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #515a14;
}

.spinner-border {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}
@keyframes menu{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
@keyframes carta1{
  0%{
    transform: translate(0vmin);
  }
  50%{
    transform: translate(80vmin) scale(0.9);
  }
  100%{
    transform: translate(0vmin);
  }
}

@keyframes carta2{
  0%{
    transform: translate(0vmin);
  }
  50%{
    transform: translate(30vmin) scale(0.9);
  }
  100%{
    transform: translate(0vmin);
  }
}

@keyframes carta3{
  0%{
    transform: translate(0vmin);
  }
  50%{
    transform: translate(-30vmin) scale(0.9);
  }
  100%{
    transform: translate(0vmin);
  }
}

@keyframes carta4{
  0%{
    transform: translate(0vmin);
  }
  50%{
    transform: translate(-80vmin) scale(0.9);
  }
  100%{
    transform: translate(0vmin);
  }
}
