<footer id="main-footer" class="fixed-bottom">
	<div class="container mt-2">
<div class="d-flex flex-column justify-content-between">
  <div class="text-center"><h1 class="h3">Contatti</h1></div>
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center">
      <div class="img-git me-2"></div>
      <div>
        <p>
          github.com/SanteCalderisi112358
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-4"><p class="text-center">santecalderisi@gmail.com</p></div>
    <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center">
      <div class="img-linkedin me-2"></div>
      <div>
        <p>
        linkedin.com/in/sante-calderisi-80142b270/
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <p><p style="color: #888;">© 2023 DaVinciBioTech. Tutti i diritti riservati.</p>
  </div>
</div>

	</div>

</footer>
