<body *ngIf="!isLoading">

  <main>

  <div class="container">
    <h1>
      <span>Leonardo:</span>
      <div class="message">
        <div class="word1">Pittore</div>
        <div class="word2">Scultore</div>
        <div class="word3">Architetto</div>
        <div class="word4">Ingegnere</div>
        <div class="word5">Musicista</div>
        <div class="word6">Inventore</div>


      </div>
    </h1>
  </div>
  <div id="hero" class="bg-image">
    <h2 style="color: #EDEBE4;">
      <span>I</span>
      <span>dettagli</span>
      <span>fanno</span>
      <span>la</span>
      <span>perfezione,</span><br>
      <span>e</span>
      <span>la</span>
      <span>perfezione</span>
      <span>non</span>
      <span>è</span>
      <span>un</span>
      <span>dettaglio.</span>
    </h2>

</div>
<div class="container" id="text">
<p class="mt-5 mb-5 h1">La sapienza è figlia dell'<i>esperienza</i></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 p-0">
      <div class="d-flex justify-content-center container">
        <div class="card mb-3" style="border: none;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://hips.hearstapps.com/hmg-prod/images/uomo-vitruviano-leonardo-da-vinci-arte-1664797190.jpg" class="img-fluid rounded-start"  alt="...">
      </div>
      <div class="col-md-8" style="background-color: #EDEBE4;">
        <div class="card-body p-0">
          <p class="pt-5 ps-3" style="font-size: large; color: black;background-color: #EDEBE4;"><span><i>Leonardo da Vinci</i></span> è universalmente riconosciuto come il più grande genio nella storia dell'umanità. Fu un uomo eccezionale, dotato di un talento straordinario e <span>fuori dal comune</span>. <br> Leonardo si distinse in diverse discipline, tra cui <span>scienza</span>, <span>arte</span>, <span>ingegneria</span> , e <span>anatomia</span>, guadagnandosi il titolo di <span>Genio Universale</span>. <br>
            La sua genialità unica, prolifica e senza pari lo colloca tra le menti più brillanti e influenti del <span><i>Rinascimento</i></span>.
                        </p>
        </div>
      </div>
    </div>
  </div>
      </div>

    </div>

  </div>
  <div class="h2 text-center">
      <p >Vita di un <span class="h1"><b style="font-weight: 900; font-size: 50px;">Genio</b></span></p>
    </div>
  <div id="biografia" class="mb-5">

    <div class="row">
      <div class="d-flex justify-content-center col-6 tavole-sinistra z-0" style="background-color: transparent; height: 2000px;">
        <div class="col-lg-6 contact-left d-flex flex-column justify-content-between mb-5">
          <ul>
            <li>
              <div class="single-info mb-3 hidden" id="1452">
                <div>
                  <h5 class="d-flex align-items-center"><div class="sub-title"></div><div>15 aprile 1452:<br> Nascita di un Genio</div> </h5>
            <p >
              Leonardo da Vinci nasce ad Anchiano, vicino a Vinci, in provincia di Firenze.
            </p>
                </div>

          </div>
            </li>
            <li>
              <div class="single-info mb-3 hidden" id="1466">
            <h5 class="d-flex align-items-center"><div class="sub-title"></div><div>1466: Apprendistato <br> presso Verrocchio</div></h5>
            <p >
               Inizia il suo apprendistato artistico nella bottega di Andrea del Verrocchio a Firenze.
            </p>
          </div>
            </li>
            <li>
              <div class="single-info mb-3 hidden" id="1482">
            <h5 class="d-flex align-items-center"><div class="sub-title"></div><div>1482: Milano</div></h5>
            <p >
               Si trasferisce a Milano, dove lavora come artista e ingegnere alla corte degli Sforza.
            </p>
          </div>
            </li>
            <li>
              <div class="d-flex mb-5">
                <div id="cenacolo" class="hidden" style="left: 350px; position: absolute; width: 400px; height: 200px; background-size: cover; background-image: url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-20+215001.png');">
                  <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.4);"></div>

                </div>
                 <div class="single-info mb-3 hidden" style="z-index: 10;" id="1498">
            <h5 class="d-flex align-items-center"><div class="sub-title"></div><div>1498: L'Ultima Cena</div></h5>
            <p >
               Completa il celebre dipinto "Ultima Cena" nel refettorio del convento di Santa Maria delle Grazie a Milano.
            </p>
          </div>
              </div>

            </li>
            <li>
              <div class="d-flex mb-5">
                <div id="gioconda" class="hidden" style="position: absolute;left: 230px; height: 200px;width: 130px; background-size: cover; background-image: url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-20+214847.png'); ">
                  <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.4);"></div>

                </div>
                <div class="single-info mb-3 hidden" id="1503" style="z-index: 10;">
            <h5 class="d-flex align-items-center"><div class="sub-title"></div><div>1503: Monna Lisa</div></h5>
            <p >
               Inizia a dipinge il capolavoro "La Gioconda" (Mona Lisa) durante il suo soggiorno a Firenze.
            </p>
          </div>
              </div>

            </li>
            <li>
              <div class="single-info mb-3 hidden" id="1513">
            <h5 class="d-flex align-items-center"><div class="sub-title"></div><div>1513: Roma</div></h5>
            <p >
              Si trasferisce a Roma su invito di Giuliano de Medici. Vede la Cappella Sistina di Michelangelo e continua gli studi di geometria ed ingegneria idraulica.            </p>
          </div>
            </li>
            <li>
              <div class="single-info mb-3 hidden" id="1516">
            <h5 class="d-flex align-items-center"><div class="sub-title"></div><div>1516: Morte</div></h5>
            <p >
              Muore il 2 maggio a Cloux, l’attuale castello-museo di Clos Lucé, lasciando i manoscritti, disegni e strumenti al suo discepolo ed erede principale Francesco Melzi. Dei suoi dipinti, misteriosamente, non si fa menzione.            </p>
          </div>
            </li>
            <li>
              <div class="d-flex mb-5">
                <div style="z-index: 10;" class="single-info mb-3 hidden" id="1570">
                  <h5 class="d-flex align-items-center">
                    <div class="sub-title"></div>
                    <div>1570: I Quaderni</div>
                  </h5>
                  <p>
                    I suoi Quaderni, contenenti appunti, disegni e idee, vengono pubblicati postumi.
                  </p>
                </div>
                <div class="hidden" id="uomo_vetruviano" style="position: absolute; left: 186px; width: 165px; height: 200px; background-size: cover; background-image: url('https://davincibiotech.s3.eu-central-1.amazonaws.com/Screenshot+2023-09-20+222127.png');">
                  <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.4);"></div>
                </div>
              </div>


            </li>
            <li>
               <div class="single-info mb-3 hidden" id="oggi">
            <h5 class="d-flex align-items-center"><div class="sub-title"></div><div>L'eredità di Leonardo</div></h5>
            <p >
              Il suo Genio continua a influenzare l'arte, la scienza e la cultura fino ai giorni nostri.
            </p>
          </div>
            </li>
          </ul>
        </div>


      </div>
      <div class="col-2 tavole-anno  d-flex justify-content-center sticky" style=" height: 200px;">
        <p  class="anno">{{anno}}</p>
      </div>

    </div>
  </div>
<div class="container" id="bioingegnere">
  <h3>Leonardo... <i>Bioingegnere</i> </h3>
  <p>Non tutti sanno che Leonardo da Vinci, oltre a essere uno dei più grandi artisti della storia, si è dedicato anche all'ingegneria biomedica. Recenti scoperte hanno portato alla luce i suoi disegni innovativi di protesi per varie parti del corpo umano.</p>
  <p>Invitiamo gli appassionati e gli studiosi a consultare le tavole ritrovate di Leonardo, che sono una testimonianza straordinaria della sua mente geniale e della sua capacità di unire l'arte e la scienza per migliorare la vita umana. Queste visioni pionieristiche hanno ispirato generazioni di scienziati e ingegneri nel campo delle protesi biomediche.</p>
  <p>Per esplorare ulteriormente queste tavole, vi invitiamo a visitare la nostra pagina dedicata alle <a [routerLink]="['/tavole-leonardo']">Tavole di Leonardo</a>. La <span>DaVinciBioTech</span>, fondata per salvaguardare queste opere uniche, è il punto di riferimento per scoprire il genio di Leonardo nel campo dell'ingegneria biomedica.</p>
  <p>Per saperne di più su di noi e la nostra missione, vi invitiamo a visitare la pagina <a [routerLink]="['/chi-siamo']">Chi Siamo</a>.</p>
</div>
  <div id="tavole" class="mb-4">
    <div>
      <div class="row justify-content-evenly flex-nowrap " >
        <div class="col-md-3 image-bg m-1 random-position" *ngFor="let tavola of tavole" style="background-image: url('{{tavola.url}}');"style="height: 500px;">

        </div>

      </div>

    </div>
  </div>






</div>



</main>
</body>

<body *ngIf="isLoading" id="loading" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
 </body>

